lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
config/config.js
public/uploads/
import.geojson
import2.geojson
MHCPts_NoCore.zip
MHCPtsBOS_CAM_BKL_QUI.geoJSON
