<% include head %>

<h2>Error 404: File not found</h2>

<h3>The requested URL '<%= url %>' was not found on this server.</h3>

<% include jqueryScripts %>
<% include leafletScripts %>

<% include footer %>