<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to asdasdasdasdas!!!!</p>
    <script src="http://192.168.25.50:35729/livereload.js"></script>
  </body>
</html>