<% include ../head %>

<div class="container">
	<div class="row col-md-12" style="border-bottom: 2px solid #000000; margin-bottom: 10px;">
		<h3>Forgot User Password</h3>
	</div>
	<form id="forgotEmail" method="post" action="">
		<h4>Please enter the email address that you used to register below. An email with further instructions will be sent to you.</h4>
    	<div class="row">    		
    		<div class="col-md-3">
				<div class="row">
		    		<div class="form-group col-md-12">
		    			<label for="email">Email Address:</label> 
		    			<input class="form-control" type="text" name="email"/>
		    		</div>
		    	</div>
    		</div>
    	</div>    	       
        <div style="margin-top:15px;" class="row col-md-12">
        	<input class="btn btn-primary" type="submit" value="Retreive User Information"/>        	
        </div>
    </form>
</div>
<% include ../jqueryScripts %>
<script>
	$("#forgotEmail").validate({
		rules: {
			email: {
				email: true,
				required: true
			}
		},
		messages: {
		}
	});
</script>
<% include ../footer %>