<% include ../head %>

<div class="container">
	<div class="row col-md-12" style="border-bottom: 2px solid #000000; margin-bottom: 10px;">
		<h3>Email Verification</h3>		
	</div>

	<div class="row">
		<h4 class="col-md-12">An email has been sent to your email address. Please follow the instructions in the email to complete the registration process.</h4>		
	</div>
</div>
<% include ../jqueryScripts %>
<% include ../footer %>