<% include ../head %>
<div class="container">
    <h1><%= (result._id ? result._id : '') %></h1>

    <h2>Are you sure you want to delete this?</h2>
    <form method="post">
        <%= (result.name ? result.name : '')%><br>
        <input type="hidden" name="loc" class="display-for-dbgeography" value="<%= (result.loc ? JSON.stringify(result.loc) : '')%>"/>
        <input class="btn btn-danger" type="submit" value="Delete"/>
    </form>
</div>
<% include ../jqueryScripts %>
<% include ../leafletScripts %>
<script src="/javascripts/geomEditor.js"></script>
<% include ../footer %>